@import url('https://fonts.googleapis.com/css?family=Hind');
body {
    font-family: 'Hind', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}
ul li{
    display: inline-block;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1; /* ie 6/7 */
}

header {

}

i.fa {
    color: black;
}

.header {
    font-family: "Hind";
    font-size: 16px;
    color: rgb(86, 86, 85);
}

.info-block {
    padding: 15px 4% 15px 10%;
    background: #ededed;
    text-align: center;
}
.title-block{
    display: inline;
}
.icon-ok{
    float: left;
    display: inline-block;
    padding-right: 10px;
}

.country {
 float: left;
}

#selectID {
    color: rgb(255, 255, 255);
    font-family: "Hind";
    font-size: 14px;
    background: #212121;
    border-radius: 2px;
    padding: 5px;
}

i.fa-angle-down {
    font-size: 22px;
}

.philadelphia {

}

.arrow-down{
    float: right;
    padding: 0px 3px 3px 10px;
}
i.fa.fa-angle-down.arrow-down{
    color: white;
}

.toll-adress {
    width: 69%;
    float: left;
}

.toll-adress ul li {
    float: left;
    display: inline;
}

i.fa-phone,
i.fa-location-arrow{
    color: #000;
    font-size: 21px;
}

i.fa-phone {
    padding-right: 4px;
}
i.fa-location-arrow {
    padding-right: 6px;
}

li.toll {
    padding-top: 3px;
    font-size: 14px;
    margin-left: 11%;
    color: #929292;
}


li.adress {
    padding-top: 3px;
    color: #929292;
    font-size: 14px;
    margin-left: 4%;
    margin-top: 1px;
}

.soc-link {
    float:right;
    text-align: right;
    margin: 0px 0px 0 0;
    padding-right: 4%;
}

.soc-link ul li {
    display: inline;
}

.soc-link ul li a:link {
    padding: 9px;
    color: black;
}

.sureblock {
    padding-left: 9%;
    padding-top: 11px;
}

.logo {
    padding: 15px;
    float: left;
}

.subtitle-block {
    float: right;
}

.subtitle-block ul {
    padding-top: 30px;
    margin-right: 70px;
    color: black;
}

.subtitle-block li {
    display: inline-block;
    padding: 0px 11px 0px 11px;
}

li.one {
    padding-right: 27px;
    border-right: 1px solid #e6e6e6;
}

li.two {
    padding-right: 15px;
    border-right: 1px solid #e6e6e6;
}

li.three {
    padding-right: 15px;
}

.center-right p > span{
    display: block;
}

span.title {
    margin-right: 5px;
    font-weight: bold;
}

span.subtitle {
    float: right;
}

.ma {
    color: #8c8c8c;
}

.mb {
    color: #8c8c8c;
    margin-right: 51px;
}

.mc {
    color: #8c8c8c;
    margin-right: 69px;
}

.nav-search{
    width: 100%;
    top: 0;
    position: absolute;

    background-color: rgba(0, 0, 0, 0.8);
}
.nav-search nav{
    float: left;
    padding-left: 9%;
}

.mobile-menu {
    display: none;
}

nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 24px 19px 16px 7px;
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 7px solid transparent;
}
nav li a:hover{
    color: #fff;
    border-bottom: 7px solid #bd2631    ;
}
.current a{
    border-bottom: 7px solid #bd2631;
}

.wrapper {
    z-index: 98;
    position: relative;
    background: #000000;
}

.wrapper img {
    width: 84%;
    height: auto;
}

.search {
    padding-right: 7%;
    float: right;
    line-height: 3.5;
    font-size: 19px;
}

i.fa-search {
    color: #fff;
}

i.fa-angle-left {
    color: #fff;
}

i.fa-angle-right {
    color: #fff;
}

.slider {
    background: black url("img/slider.png") no-repeat right;
    height: 600px;
    position: relative;
}

.arrows{
    position: absolute;
    top: 46.4%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 77px;
    color: #ffffff;
}
.arrow-left{
    padding-left: 22px;
}
.arrow-right{
    padding-right: 22px;
}
.slider-text{
    top: 9%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 84.8%;
    height: 21%;
    margin: auto;
    line-height: 0.6;
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.slider-text h3 {
    color: #bd2631;
    font-size: 32px;
    font-weight: 700;
}

.slider-text h2 {
    color: #ffffff;
    font-size: 43px;
}
.slider-text p {
    color: #ffffff;
    font-size: 24px;
}

.free {
    color: #ffffff;
    background: #bf232c;
}
.free-text {
    float: left;
    margin: 18px 0 0 8%;
}
.free h2 {
    font-size: 30px;
    font-weight: 300;
    margin-top: 7px;
    height: 37px;
}
.free h3 {
    font-size: 24px;
    font-weight: 300;
}
.free button {
    float: right;
    position: relative;
    cursor: pointer;
    min-width: 139px;
    height: 54px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 3px;
    margin: 37px 8% 36px 0;
}

.free button a {
    position: absolute;
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    top: 15px;
    left: 30px;
}

.PSB {
    flex-direction: column;
}


.pro {
    height: 454px;
    width: 100%;
}

.infopro {
    height: 454px;
    background: black url("img/bgpro.png") no-repeat;
    position: relative;
    width: 50%;
    float: left;
    background-size: cover;
}

.twopro {
    height: 100%;
    background: black url("img/layer-43.png") no-repeat;
    width: 25%;
    float: left;
    background-size: cover;
}

.twopro img {
    width: 100%;
}

.onepro {
    height: 100%;
    max-width: 25%;
    float: right;
    background: #fff url("img/layer-36.png") no-repeat;
    background-position: center;
    display: flex;
    width: 25%;
}

.onepro img {
    width: 100%;
}



.ser {
    height: 100%;
    width: 100%;
}


.infoser {
    height: 454px;
    background: black url("img/layer-45.png") no-repeat;
    background-size: cover;
    position: relative;
    width: 50%;
    float: right;
}

.twoser {
    height: 454px;
    background: black url("img/layer-40.png") no-repeat;
    background-size: cover;
    width: 25%;
    float: left;
}

.twoser img {
    width: 100%;
}


.oneser {
    height: 454px;
    max-width: 25%;
    float: right;
    background: #fff url("img/layer-52.png") no-repeat;
    background-position: center;
    display: flex;
    width: 25%;
}

.oneser img {
    width: 100%;
}



.bat {
    height: 454px;
    width: 100%;
}

.infobat {
    height: 454px;
    background: black url("img/layer-47.png") no-repeat;
    background-size: cover;
    position: relative;
    width: 50%;
    float: left;
}


.twobat {
    height: 454px;
    width: 25%;
    float: right;
    background: black url("img/layer-44.png") no-repeat;
    background-size: cover;
}

.twobat img {
    width: 100%;
}

.onebat {
    height: 454px;
    max-width: 25%;
    float: left;
    background: #bd2631 url("img/layer-37.png") no-repeat;
    background-position: center;
    display: flex;
    width: 25%;
}

.onebat img {
    width: 100%;
}

.g-layout-text1,
.g-layout-text2,
.g-layout-text3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.g-layout-text1 h2,
.g-layout-text2 h2,
.g-layout-text3 h2{
    color: #bd2631;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 29px;
}
.g-layout-text1 p,
.g-layout-text2 p,
.g-layout-text3 p{
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 2.2;
    width: 90%;
}
.g-layout-text1{
    margin-left: 10.3%;
    margin-top: 25px;
}



/* RESPONSIVE */

@media only screen and (max-width: 1273px) {
    .toll-adress {
        width: 62%;
    }
}

@media only screen and (max-width: 1095px) {
    li.toll {
        margin-left: 30px;
    }

    .toll-adress {
        width: 60%;
    }
}

@media only screen and (max-width: 970px) {
    .logo {
        padding-bottom: 5px;
        padding-left: 30%;
    }
}

@media only screen and (max-width: 970px) {
    .subtitle-block {
        padding-right: 20%;
    }
    .subtitle-block ul {
        padding-top: 10px;
        padding-bottom: 15px;
    }
}


@media only screen and (max-width: 949px) {

    .soc-link {
       padding-right: 40%;
    }

    .toll-adress ul li {
        display: inline;
    }

    .toll-adress {
        padding-left: 5%;
        width: 75%;
    }

}

@media only screen and (max-width: 768px) {

    .nav-search {display: none;}

    .mobile-menu {
        margin-left: 2%;
        display: block;
        color: #fff;
        font-size: 24px;
        padding: 10px;
    }

    i.fa-bars {
        color: #fff;
        float:left
        margin: auto;
    }

    .search {
        padding-right: 7%;
        float: right;
        line-height: 0;
        font-size: 19px;
    }

    i.fa-search {
        margin-top: 7px;
    }


    .infopro {
        height: 454px;
        background: black url("img/bgpro.png") no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
    }

    .twopro {
        height: 254px;
        width: 50%;
    }

    .onepro {
        height: 254px;
        max-width: 50%;
        width: 50%;
    }


    .infoser {
        height: 454px;
        background: black url("img/layer-45.png") no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        float: right;
    }

    .twoser {
        height: 254px;
        width: 50%;
    }

    .oneser {
        height: 254px;
        max-width: 50%;
        width: 50%;
    }


    .infobat {
        height: 454px;
        background: black url("img/layer-47.png") no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        float: left;
    }

    .twobat {
        height: 254px;
        width: 50%;
    }

    .onebat {
        height: 254px;
        max-width: 50%;
        width: 50%;
    }




    .subtitle-block ul {
        margin-right: 0px;
    }

    .logo {
        padding: 0px 0px 0px 22%;
    }

    .nav-search nav {
        padding-left: 6%;
    }


    .slider-text h3 {
        color: #bd2631;
        font-size: 22px;
        font-weight: 600;
    }

    .slider-text h2 {
        color: #ffffff;
        font-size: 33px;
    }
    .slider-text p {
        color: #ffffff;
        font-size: 17px;
    }

    .free button {
        margin: 37px 40% 36px 0;
    }

}


@media only screen and (max-width: 425px) {

    .slider-text {
        margin-left: 20%;
    }



    .logo {
        padding: 0px 0px 0px 6%;
    }

    .soc-link {
        padding-right: 29%;
    }

    .slider-text h3 {
        color: #bd2631;
        font-size: 16px;
        font-weight: 600;
    }

    .slider-text h2 {
        color: #ffffff;
        font-size: 16px;
    }
    .slider-text p {
        color: #ffffff;
        font-size: 9px;
    }

    li.one {
        padding-left: 37%;
        border: none;
    }

    li.two {
        padding-left: 37%;
        border: none;
    }

    li.three {
        padding-left: 37%;
        border: none;
    }

    .country {
        margin: 0 auto;
        display: block;
        width: 93%;
    }

    li.toll {
          margin-left: 21%;
      }

    li.adress {
        margin-left: 14%;
    }


    .infopro {
        height: 454px;
        background: black url("img/bgpro.png") no-repeat;
        position: relative;
        width: 100%;
    }

    .twopro {
        height: 254px;
        width: 50%;
    }

    .onepro {
        height: 254px;
        max-width: 50%;
        width: 50%;
    }

    .infoser {
        height: 254px;
        background: black url("img/layer-45.png") no-repeat;
        position: relative;
        width: 100%;
        float: right;
    }


    .twoser {
        height: 254px;
        width: 50%;
    }

    .oneser {
        height: 254px;
        max-width: 50%;
        width: 50%;
    }

    .oneser  img {
        margin: 0 auto;
    }

    .infobat {
        height: 454px;
        background: black url("img/layer-47.png") no-repeat;
        position: relative;
        width: 100%;
        float: left;
    }

    .twobat {
        height: 254px;
        width: 50%;
    }

    .onebat {
        height: 254px;
        max-width: 50%;
        width: 50%;
    }


}

@media only screen and (max-width: 320px) {

    .logo img {
        width: 80%;
    }

    .soc-link {
        padding-right: 16%;
    }

    li.toll {
        margin-left: 30px;
    }

    .toll-adress {
        width: 100%;
    }

    li.adress {
        margin-left: 0%;
        margin-right: 10%;
    }

}



